<main class="main" style="--blue: rgb(7, 190, 245);">
    <div class="user-view chat-real-time">
        <nav class="user-view__menu">
            <h2 class="heading-secondary">CHAT REAL TIME</h2>
            <ul class="side-nav">
                <!-- <li><a href=""><img src="/img/user_default.png" alt="">Ngọc Yên</a></li>
                <li class="side-nav--active"><a href=""><img src="/img/user_default.png" alt="">Văn A</a></li>
                <li><a href=""><img src="/img/user_default.png" alt=""> Minh Bảo</a></li>
                <li><a href=""><img src="/img/user_default.png" alt=""> Billing</a></li> -->
            </ul>
        </nav>
        <div class="user-view__content chat-view__content chat-view__content_none">
            <h2 id="name_user_chat" class="heading-secondary ma-bt-md">Nguyễn Minh Bảo</h2>
            <div class="user-view__form-container chat__view--container">
                <div class="message-list">
                    <!-- <div class="message_item"><span class="message_item_left"> Mình có thể giúp gì cho bạn</span></div>
                    <div class="message_item"><img src="/img/user_default.png" alt=""><span
                            class="message_item_right">Mình có thể giúp gì cho bạn</span><span
                            class="message_date">22-12-2022</span></div>
                    <div class="message_item"><img src="/img/user_default.png" alt=""><span
                            class="message_item_right">á</span></div>
                    <div class="message_item"><span class="message_item_left">Mình có tha</span></div> -->
                </div>
                <div class="form__group form-send-message">
                    <i class="fas fa-comment"></i>
                    <input class="form__input" id="message" type="text" placeholder="Nhập message"
                        required="required" />
                    <button id="btn-submit" class="btn btn--small btn--green">Send</button>
                </div>
            </div>
        </div>
    </div>
</main>