<div class="welcome">
    <a href="/login"><button class="btn btn--green btn--square1"> SIGN IN </button></a>
    <a href="/signup"><button class="btn btn--green btn--square2"> SIGN UP </button></a>
</div>